In [61]:
import pandas as pd
energydf = pd.read_csv('energydata_complete.csv')

In [45]:
energydf

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [46]:
energydf.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [47]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [48]:
X = energydf['T2']
y = energydf['T6']

# Splitting df into training data and testing data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)
X_train = X_train.values.reshape(-1, 1)

In [51]:
linear_model = LinearRegression()
# Fitting the model to the training set
linear_model.fit(X_train, y_train)

# Predicting with the model
predicted_values = linear_model.predict(X_test.values.reshape(-1, 1))

# Calculating the coefficient of determination value
r2 = r2_score(y_test, predicted_values)

In [52]:
r2

0.6449725107195896

In [62]:

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
energydf.drop(columns = ['date', 'lights'], inplace = True)
normal_energydf = pd.DataFrame(scaler.fit_transform(energydf), columns = energydf.columns)

predictor = energydf.drop(columns = ['Appliances'])
target = normal_energydf ['Appliances']

In [64]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictor, target, test_size = 0.3, random_state = 42)
l_model = LinearRegression()
l_model.fit(X_train, y_train)


predicted_y = l_model.predict(X_test)
from sklearn.metrics import mean_absolute_error #imports mean_absolute_error from sklearn.metrics
meanabsoluteerror = mean_absolute_error(y_test, predicted_y) #returns MAE

In [65]:
meanabsoluteerror

0.050129182559065365

In [66]:
import numpy as np
df2 = pd.DataFrame({'Actual': y_test, 'Predicted': predicted_y })
a = np.sum(np.square(df2['Predicted'] - df2['Actual']))

In [67]:
a

45.345544004173675

In [68]:

from sklearn.metrics import mean_squared_error
rootmeansquareerror = np.sqrt(mean_squared_error(y_test, predicted_y))

In [69]:
rootmeansquareerror

0.0875124369323034

In [70]:
from sklearn.metrics import r2_score #imports r2 score from sklearn.metrics

r2score= r2_score(y_test, predicted_y)
print(r2score)

0.1489416076274266

In [84]:
from sklearn.linear_model import Lasso

def weight(model, features, col_name):
    weights = pd.Series(model.coef_, features.columns).sort_values()
    weights= weights.reset_index()
    weights.columns = ['Features', col_name]
    weights[col_name] = weights[col_name].round(3)
    return weights

In [85]:
linearmodelweights = weight(l_model, X_train, 'linear_model')
linearmodelweights

       Features  linear_model
0           rv1 -6.139115e+09
1            T9 -2.000000e-02
2            T2 -1.700000e-02
3          RH_2 -1.300000e-02
4         T_out -1.000000e-02
5          RH_8 -5.000000e-03
6          RH_9 -2.000000e-03
7          RH_7 -2.000000e-03
8            T5 -1.000000e-03
9        RH_out -1.000000e-03
10           T1 -0.000000e+00
11  Press_mm_hg  0.000000e+00
12   Visibility  0.000000e+00
13         RH_5  0.000000e+00
14         RH_6  0.000000e+00
15           T7  1.000000e-03
16         RH_4  1.000000e-03
17    Windspeed  2.000000e-03
18           T4  3.000000e-03
19         RH_3  4.000000e-03
20    Tdewpoint  5.000000e-03
21           T6  7.000000e-03
22           T8  9.000000e-03
23         RH_1  1.500000e-02
24           T3  2.400000e-02
25          rv2  6.139115e+09

In [86]:
from sklearn.linear_model import Ridge
ridge = Ridge(alpha = 0.4)
ridge.fit(X_train, y_train)

ridge_prediction = ridge.predict(X_test) #prediction using ridge regularization


ridgerootmse = np.sqrt(mean_squared_error(y_test, ridge_prediction))

In [87]:
ridgerootmse

0.0875144897074912

In [88]:
lasso = Lasso(alpha = 0.001)
lasso.fit(X_train, y_train)

lassoweights = weight(lasso, X_train, 'lasso')
lassoweights

       Features  lasso
0            T9 -0.015
1            T2 -0.010
2          RH_2 -0.009
3          RH_8 -0.005
4         T_out -0.003
5          RH_7 -0.002
6            T5 -0.001
7          RH_9 -0.001
8        RH_out -0.000
9            T1 -0.000
10    Tdewpoint -0.000
11           T7 -0.000
12         RH_4  0.000
13           T4 -0.000
14          rv2  0.000
15          rv1  0.000
16  Press_mm_hg  0.000
17   Visibility  0.000
18         RH_5  0.000
19         RH_6  0.000
20    Windspeed  0.002
21         RH_3  0.003
22           T6  0.004
23           T8  0.006
24         RH_1  0.014
25           T3  0.020

In [92]:
nonzero = lassoweights.lasso[lassoweights.lasso != 0]
nonzero

0    -0.015
1    -0.010
2    -0.009
3    -0.005
4    -0.003
5    -0.002
6    -0.001
7    -0.001
20    0.002
21    0.003
22    0.004
23    0.006
24    0.014
25    0.020
Name: lasso, dtype: float64

In [93]:
lassormse = np.sqrt(mean_squared_error(y_test, lasso.predict(X_test)))
lassormse

0.08777256594127167